.App {
  background-color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Img
{
  margin-left: 400px;
  margin-right: 300px;
}

.Imginside
{
  display: flex;
}

.Imgdata img
{
   height: 292px;
   width: 294.1007080078125px;
   left: 0px;
   margin: 20px 20px 0px 10px; 
   border-radius: 0px;
}

.Imgdata h3,h4,p
{
  width: 294.1007080078125px;
  margin-left: 10px;
  padding-left: 15px;
}

.Imgdata p
{
  background-color: blue;
  color:aliceblue;
  padding: 7px;
  text-align: center;
}

.Imgdata h3
{
  font-weight: bolder;
  font-size: 20px;
}

.Imgdata
{
  display: block;
  flex: 1;
  border: 1px solid azure;
}
